[Unit]
Description=Network Tools Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=__INSTALL_DIR__
ExecStart=__INSTALL_DIR__/venv/bin/python3 app.py service-up %i.toml
ExecStop=__INSTALL_DIR__/venv/bin/python3 app.py service-down %i.toml

[Install]
WantedBy=multi-user.target
